.book {
    position: absolute;
    z-index: 1;

    width: 90vw;
    height: 85vh;

    right: -15vw;
    top: 8vh;

    transform: rotate(-8deg);
}

.page-left,
.page-right {
    position: absolute;

    top: 0;

    width: 50%;
    height: 100%;

    background: #d9d9d9;
}

.page-left {
    left: 0;

    clip-path: polygon(
        0 8%,
        100% 0,
        92% 100%,
        0 72%
    );
}

.page-right {
    right: 0;

    clip-path: polygon(
        0 0,
        100% 8%,
        100% 72%,
        8% 100%
    );
}

.spine {
    position: absolute;

    z-index: 3;

    left: 50%;
    top: 2%;

    width: 3px;
    height: 96%;

    background: #29447d;

    transform: rotate(2deg);
}
